body {
  background-color: rgba(190, 217, 249, 1);
}

button {
  background-color: teal;
  color: white;
  border: 2px solid black;
  padding: 15px;
  display: inline-block;
  text-align: center;
}

progress {
  display: inline-block;
}

span {
  display: block;
  margin:0;
  padding:0;
}

div.playerStats {
  border: 2px solid black;
}

#firstPage {
display: contents;
}

#secondPage {
  display: none;
}
