body {
  background-color: rgba(190, 217, 249, 1);
}

button {
  background-color: teal;
  color: white;
  border: 2px solid black;
  padding: 15px;
  display: inline-block;
  text-align: center;
}

progress {
  display: inline-block;
}

span {
  display: inline-block;
  margin:0;
  padding:0;
}

p {
  flex-wrap: wrap;
  display: inline;
}

.scores {
  text-align: center;
}

.stats {
  border: 2px solid black;
  direction: flex;
  flex-direction: column;
}

#firstPage {
display: contents;
}

#secondPage {
  display: none;
}
